<div class="painting_card">
  <div class="painting_frame">
    <img class="painting_picture" src="" alt="painting">
  </div>

  <div class="painting_text_wrapper">
    <p class="painting_text"></p>
  </div>
  <p class="paint_key"></p>
</div>
