<%- include("header") -%>

<h1 class="welcome_title">ליצירת קשר לפרטים נוספים</h1>

<hr class="warm_hr">
<!-- <h3 class="welcome_title"></h3> -->
<div class="contact_info">
  <h3 class="welcome_title">Email: numeron104@gmail.com</h3>
</div>




<%- include("footer") -%>
