<%- include("header") -%>

  <br />
  <h1 class="welcome_title">הגלריה</h1>
  <hr class="warm_hr">

  <div id="gallery_container" class="container-fluid">
    <div id="paintings_display" class="row">

    </div>
  </div>

  <script type="text/javascript">
    let paintingsData = <%- JSON.stringify(paintingsData) %>;
    paintingsData.forEach(data =>
    {
      let paintPath = data.painting_path;
      let paintDescription = data.painting_description;
      let paintKey = data.key;

      let numberOfFrames = 3;

      let frameIndex = Math.floor(Math.random() * Math.floor(numberOfFrames)) + 1;

      $("#paintings_display").prepend(`<%- include("./components/painting_card") %>`);
      $(".painting_picture").first().attr("src", paintPath);
      $(".painting_frame").first().addClass("frame" + frameIndex.toString())

      $(".painting_frame").first().click(function () { $(this).toggleClass("expandModal"); });

      $(".painting_text").first().text(paintDescription);
      $(".paint_key").first().text("מזהה: " + paintKey);
    });

</script>
<%- include("footer") -%>
