body {
  background-color: #d9c6a5!important;
  background-image: url("https://www.transparenttextures.com/patterns/fake-luxury.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

nav.navbar {
  background-color: #c26565;
  color: white;
  font-size: 2rem;
  border-bottom: solid 0.5rem #f7e7bd;
}

h1 {
  padding: 2rem 0;
}

hr.white_hr {
  border: none;
  border-top: dotted 1rem white;
  padding: 1rem 0;
  width: 60%;
}

hr.warm_hr {
  border: none;
  border-top: dotted 0.6rem #c26565;
  padding: 1rem 0;
  width: 60%;
}

p.copyrights {
  padding: 2rem 0;
  text-align: center;
}

.navbar-nav > a.nav-link {
  color: white!important;
  padding-left: 2rem!important;
}

/* ===== homepage ===== */

.welcome_title {
  font-family: 'David Libre', serif;
  text-align: center;
  color: #d54062;
  text-shadow: 3px 3px #bfbfbf;
}

.carousel_wrapper {
  width: 40%;
  margin: auto;
}

/* ===== gallery ===== */

#gallery_container {
  position: relative;
  padding: 0;
}

#paintings_display {
  position: relative;
  width: 100%;
  padding: 0 2rem;
  margin: 0;
}


.painting_card  {
  position: relative;
  margin: 2rem auto;

  padding: 1rem;
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 2rem;

  background-color: rgba(163, 93, 106, 0.3);
  border: solid 0.5rem #f7e7bd;
}

.painting_frame {
  border: solid 4rem black;
  border-image-source: url('../images/darkwood_frame3.jpg');
  border-image-slice: 80;
}

.painting_picture {
  position: relative;
  height: 18rem;
}

.painting_text_wrapper {
  margin-top: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  border: solid #c26565 2px;
  padding: 0.5rem 0;
  /* background-color: rgba(254, 244, 219, 0.7);
  border: solid 2rem black;
  border-image-source: url('../images/flower1_frame.jpg');
  border-image-slice: 150; */
}

.paint_key {
  width: 50%;
  margin: auto;
  padding-top: 0.3rem;
  border-top: dashed #c26565 2px;
  font-size: 80%;
}

.painting_picture:hover {
  opacity: 0.9;
  cursor: zoom-in;
}

.painting_text_wrapper {
  text-align: center;
}

.expandModal {
  position: fixed;
  border: none;
  z-index: 5;
  width: 300%;
  height: 300%;
  left: 0;
  top: 0;
  transition-duration: 0.8s;
  background-color: rgba(0, 0, 0, 0.6);
}
.expandModal > img.painting_picture {
  position: fixed;
  /* left: 0;
  top: 0; */
  transform: translate(-50%, 0);
  left: 50%;
  height: 90%;
  max-width: 90%;
  z-index: 5;
  border-radius: 1rem;
  /* border: solid 0.5rem #799351; */
  /* transition-duration: 0.4s; */
}
.expandModal > img.painting_picture:hover {
  cursor: zoom-out;
}
.expandModal:hover {
  opacity: 1;
  cursor: zoom-out;
}

@media only screen and (max-width: 800px) {

  nav.navbar {
    font-size: 3rem;
  }

  .welcome_title {
    font-size: 300%;
  }

  .expandModal > img.painting_picture {
    width: 95%!important;
    max-height: 90%!important;
  }

}
