body {
  background-color: #d9c6a5!important;
  background-image: url("https://www.transparenttextures.com/patterns/fake-luxury.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  /* padding-top: 4rem; */
}



h1 {
  padding: 2rem;
}

hr.white_hr {
  border: none;
  border-top: dotted 1rem white;
  padding: 1rem 0;
  width: 60%;
}

hr.warm_hr {
  border: none;
  border-top: dotted 0.6rem #c26565;
  padding: 1rem 0;
  width: 60%;
}

p.copyrights {
  padding: 2rem 0;
  text-align: center;
}

/* ===== navbar ===== */

nav.navbar {
  background-color: #c26565;
  color: white;
  font-size: 2rem;
  border-bottom: solid 0.5rem #f7e7bd;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navbar-nav > a.nav-link {
  color: white!important;
  padding-left: 2rem!important;
}

.navbar-right {
  margin-left: auto;
  text-align: right;
  flex-direction: row-reverse!important;
}

.vertical_separator {
  margin: auto 0;
  padding: 0 1rem;
}

#underNav {
  padding-bottom: 8rem;
}

.arrow_up {
  position: fixed;
  font-size: 2rem;
  padding: 0 1.5rem;
  border: solid 2px white;
  border-radius: 100%;
  display: none;
  opacity: 0.5;
  z-index: 200;
  margin: 5px;
}
.arrow_up:hover {
  opacity: 1;
}
.arrow_up .fas {
  color: white;
}
.arrow_up .fas:hover {
  cursor: pointer;
}

/* ===== homepage ===== */

.welcome_title {
  font-family: 'David Libre', serif;
  text-align: center;
  color: #d54062;
  text-shadow: 3px 3px #bfbfbf;
}

.carousel_wrapper {
  width: 50%;
  margin: auto;
}

/* ===== gallery ===== */

#gallery_container {
  position: relative;
  padding: 0;
}

#paintings_display {
  position: relative;
  width: 100%;
  padding: 0 2rem;
  margin: 0;
}

.painting_card  {
  position: relative;
  margin: 2rem auto;
  padding: 1rem;
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 2rem;
  background-color: rgba(163, 93, 106, 0.3);
  border: solid 0.5rem #f7e7bd;
  text-align: center;
  width: 20rem;
}

.painting_frame {
  position: relative;
  display: inline-block;
  margin: auto;
}
.painting_frame.frame1 {
  border: solid 1rem black;
  border-image-source: url('../images/simple_wood1.jpg');
  border-image-slice: 20;
}
.painting_frame.frame2 {
  border: solid 1rem black;
  border-image-source: url('../images/simple_wood2.jpg');
  border-image-slice: 13;
}
.painting_frame.frame3 {
  border: solid 1rem black;
  border-image-source: url('../images/simple_wood3.jpg');
  border-image-slice: 25;
}

.painting_picture {
  position: relative;
  height: 18rem;
}

.painting_text_wrapper {
  position: relative;
  margin: 1.5rem auto;
  background-color: rgba(255, 255, 255, 0.3);
  border: solid #c26565 2px;
  padding: 0.5rem 0;
  text-align: center;
  max-width: 80%;
}

.painting_text_wrapper > p {
  position: relative;
  max-width: 80%;
  margin: auto;
}

.paint_key {
  width: 50%;
  margin: auto;
  padding-top: 0.5rem;
  border-top: dashed #c26565 2px;
  font-size: 60%;
}

.painting_picture:hover {
  opacity: 0.9;
  cursor: zoom-in;
}

.expandModal {
  position: fixed;
  border: none!important;
  z-index: 5;
  width: 300%;
  height: 300%;
  left: 0;
  top: 0;
  transition-duration: 0.8s;
  background-color: rgba(0, 0, 0, 0.6);
}
.expandModal > img.painting_picture {
  position: fixed;
  transform: translate(-50%, 0);
  left: 50%;
  height: 95%;
  max-width: 90%;
  z-index: 5;
  border-radius: 1rem;
}
.expandModal > img.painting_picture:hover {
  cursor: zoom-out;
}
.expandModal:hover {
  opacity: 1;
  cursor: zoom-out;
}


/* ===== contact ===== */

.contact_info {
  width: 90%;
  text-align: center;
  margin: auto;
  word-wrap: break-word;
}



/* FOR MOBILE */
@media only screen and (max-width: 800px) {

  nav.navbar {
    font-size: 2.5rem!important;
  }

  .welcome_title {
    font-size: 250%;
  }

  #paintings_display {
    padding: 0!important;
  }
  .expandModal > img.painting_picture {
    width: 90%!important;
    height: auto!important;
  }


}
